/* Poppins 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Init Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }

  h1,
  h2 {
    font-weight: 700;
  }
}

@layer components {
  .materi-layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
  }

  .focus-primary {
    @apply focus:ring-primary focus:border-primary;
  }

  /* Button Component */
  .text-only {
    @apply w-full;
  }
  .icon-right {
    @apply gap-3;
  }
  .icon-left {
    @apply flex-row-reverse gap-3;
  }
  .icon-only {
    @apply p-2.5;
  }

  /* Button size */
  .text.small {
    @apply text-sm;
  }
  .icon.small {
    @apply text-lg;
  }
  .icon.medium {
    @apply text-xl;
  }

  /* Button color */
  .btn.primary {
    @apply bg-primary text-white shadow-sm hover:bg-opacity-80;
  }
  .btn.secondary {
    @apply bg-secondary text-primary shadow-sm hover:bg-secondaryHover;
  }
  .btn.gray {
    @apply bg-black bg-opacity-10 text-black text-opacity-70 hover:bg-opacity-20;
  }
  .btn.danger {
    @apply bg-danger-sub text-danger-main hover:bg-danger-hover;
  }
  .btn.transparent {
    @apply text-white shadow-none hover:bg-white hover:bg-opacity-25;
  }
  /* End Button Component */

  /* Input Component */
  .input-primary {
    @apply border-gray-300;
  }
  .input-secondary {
    @apply bg-secondary border-primary placeholder:text-primary;
  }
  /* End Input Component */

  /* Division Tag Background */
  .bg.Front-endDeveloper {
    @apply bg-divisi-fe;
  }
  .bg.Back-endDeveloper {
    @apply bg-divisi-be;
  }
  .bg.MobileDeveloper {
    @apply bg-divisi-mobile;
  }
  .bg.PublicRelations {
    @apply bg-divisi-pr;
  }
  .bg.ProjectManager {
    @apply bg-divisi-pm;
  }

  .overlay-text {
    @apply text-sm transition-all cursor-pointer hover:bg-black hover:bg-opacity-10;
  }

  .search-bar {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 24 24"%3E%3Cpath fill="%236b7280" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z"%2F%3E%3C%2Fsvg%3E');
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
