/* Poppins 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Init Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }

  h1,
  h2 {
    font-weight: 700;
  }
}

@layer components {
  .h1-md {
    font-size: 2.5rem;
  }
  .h2-md {
    font-size: 2rem;
  }

  .h1-sm {
    font-size: 1.75rem;
  }
  .h2-sm {
    font-size: 1.25rem;
  }

  .materi-layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
